<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
* Created by MageSpices | Q-Solutions Studio
*
* @package  MageSpices_NostalgiaAdminMenu
* @author   Q-Solutions Studio <office@qsolutionsstudio.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Moved Attributes section to Catalog menu -->
        <update id="Magento_Catalog::catalog_products" title="Manage Products" sortOrder="10" parent="Magento_Catalog::catalog" />
        <update id="Magento_Catalog::catalog_categories" title="Manage Categories" sortOrder="20" parent="Magento_Catalog::catalog" />

        <!-- Moved Promotions section to main menu -->
        <remove id="Magento_CatalogRule::promo" />
        <add id="MageSpices_NostalgiaAdminMenu::promo" title="Promotions" translate="title" module="Magento_CatalogRule" sortOrder="30" resource="Magento_CatalogRule::promo"/>
        <update id="Magento_CatalogRule::promo_catalog" sortOrder="100" parent="MageSpices_NostalgiaAdminMenu::promo" title="Shopping Cart Price Rules" />
        <update id="Magento_SalesRule::promo_quote" sortOrder="200" parent="MageSpices_NostalgiaAdminMenu::promo" title="Catalog Price Rules" />

        <!-- Created and moved Newsletter main menu -->
        <add id="MageSpices_NostalgiaAdminMenu::newsletter" title="Newsletter" translate="title" sortOrder="35" module="MageSpices_NostalgiaAdminMenu" resource="Magento_Backend::marketing_communications" />
        <update id="Magento_Newsletter::newsletter_template" sortOrder="10" parent="MageSpices_NostalgiaAdminMenu::newsletter" />
        <update id="Magento_Newsletter::newsletter_queue" sortOrder="20" parent="MageSpices_NostalgiaAdminMenu::newsletter" />
        <update id="Magento_Newsletter::newsletter_subscriber" sortOrder="30" parent="MageSpices_NostalgiaAdminMenu::newsletter" />

        <!-- Created and moved CMS menu to main menu -->
        <add id="MageSpices_NostalgiaAdminMenu::cms" title="CMS" translate="title" sortOrder="36" module="MageSpices_NostalgiaAdminMenu" resource="Magento_Backend::content_elements" />
        <update id="Magento_Cms::cms_page" sortOrder="10" parent="MageSpices_NostalgiaAdminMenu::cms" />
        <update id="Magento_Cms::cms_block" sortOrder="20" parent="MageSpices_NostalgiaAdminMenu::cms" />
        <update id="Magento_Widget::cms_widget_instance" sortOrder="30" parent="MageSpices_NostalgiaAdminMenu::cms" />

        <!-- sales menu -->
        <update id="Magento_Sales::sales_order" title="Orders" sortOrder="10" parent="Magento_Sales::sales" />
        <update id="Magento_Sales::sales_invoice" title="Invoices" sortOrder="20" parent="Magento_Sales::sales" />
        <update id="Magento_Sales::sales_shipment" title="Shipments" sortOrder="30" parent="Magento_Sales::sales" />
        <update id="Magento_Sales::sales_creditmemo" title="Credit Memos" sortOrder="40" parent="Magento_Sales::sales" />
        <update id="Magento_Sales::sales_transactions" title="Transactions" sortOrder="70" parent="Magento_Sales::sales" />

        <!-- Moved Reports item -->
        <update id="Magento_Reports::report" sortOrder="37" />

        <!-- design settings -->
        <update id="Magento_Backend::system_design" parent="Magento_Backend::system" sortOrder="9111" />

        <!-- currency settings -->
        <update id="Magento_CurrencySymbol::system_currency" parent="Magento_Backend::system" sortOrder="9222" />

        <!-- Moved Cache Management to system menu -->
        <update id="Magento_Backend::system_cache" parent="Magento_Backend::system" sortOrder="9333" />

        <!-- Moved Index Management to system menu -->
        <update id="Magento_Indexer::system_index" parent="Magento_Backend::system" sortOrder="9444" />

        <!-- stores configuration -> system -->
        <update id="Magento_Backend::system_store" parent="Magento_Backend::system" title="Manage Stores" sortOrder="9777" />
        <update id="Magento_Sales::system_order_statuses" title="Order Statuses" parent="Magento_Backend::system" sortOrder="9888" />
        <update id="Magento_Config::system_config" parent="Magento_Backend::system" sortOrder="9999" />

        <!-- url rewrites -->
        <update id="Magento_UrlRewrite::urlrewrite" parent="Magento_Catalog::catalog" title="URL Rewrite Management" sortOrder="600" />
        <update id="Magento_Backend::marketing_seo" parent="Magento_Catalog::catalog" sortOrder="700" />
        <update id="Magento_Catalog::inventory" parent="Magento_Catalog::catalog" sortOrder="800" />
        <update id="Magento_InventoryAdminUi::inventory" parent="Magento_Catalog::catalog" sortOrder="900" />
        <update id="Magento_Backend::stores_attributes"  parent="Magento_Catalog::catalog" sortOrder="500" />

        <!-- update -->
        <update id="Magento_Tax::sales_tax" parent="Magento_Sales::sales" sortOrder="1000" />
        <update id="Magento_CheckoutAgreements::sales_checkoutagreement" parent="Magento_Sales::sales" sortOrder="600" />

        <!-- remove stores menu -->
        <remove id="Magento_Backend::stores" />
        <remove id="Magento_Backend::content" />
    </menu>
</config>
