<?xml version="1.0"?>
<!--
/**
* Created by Q-Solutions Studio
*
* @package  Mage2_NostalgiaTheme
* @author	Przemysław Jankowski <przemek@qsolutionsstudio.com>
* @author   Jakub Winkler <jwinkler@qsolutionsstudio.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Mage2/nostalgia</item>
            </argument>
        </arguments>
    </type>
</config>
