<?xml version="1.0"?>
<!--
/**
 * Created by MageSpices | Q-Solutions Studio
 *
 * @package  MageSpices_NostalgiaTheme
 * @author   Q-Solutions Studio <office@qsolutionsstudio.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
  <module name="MageSpices_NostalgiaTheme" setup_version="1.0.1" />
</config>
