<?xml version="1.0"?>
<!--
  /**
 * Created by Q-Solutions Studio
 *
 * @category    MageSpices
 * @package     MageSpices_NostalgiaAdminMenu
 * @author      Maciej Buchert <maciej@qsolutionsstudio.com>
 * @author      Jakub Winkler <jwinkler@qsolutionsstudio.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageSpices_NostalgiaAdminMenu" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog" />
            <module name="Magento_CatalogRule" />
            <module name="Magento_Cms" />
            <module name="Magento_Indexer" />
            <module name="Magento_Newsletter" />
            <module name="Magento_Reports" />
            <module name="Magento_SalesRule" />
            <module name="Magento_Widget" />
        </sequence>
    </module>
</config>
